.conatainer-areaprivada {
  background-image: url('../assets/fondoBosque.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* Posiciona el overlay sobre el contenedor */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa toda la altura */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  ); /* Degradado de oscuro a claro */
  z-index: 1;
}
.avatar {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  align-items: center;
}
.tu-huella {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.info-avatar {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin: 40px 20px 20px;
  width: 400px;
  transition: transform 0.3s ease;
  text-align: left;
}

.info-avatar:hover {
  transform: scale(1.05);
}
.info-avatar h3,
h4 {
  color: #333;
  margin: 15px 0;
  font-size: 25px;
}

.info-avatar span {
  font-weight: normal; /* Peso de fuente normal para los valores */
  color: #555; /* Color de texto gris medio */
  border-bottom: 1px dashed #ccc; /* Línea punteada debajo de los valores */
  padding-bottom: 4px; /* Espaciado debajo de los valores */
  font-size: 20px; /* Tamaño de fuente más grande para los valores */
}

.info-user {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* Estilo del gráfico */
.graficaMediHuella {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Espacio superior para separación */
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  background-color: transparent;
}
.graficaMediHuella h1 {
  text-align: center;
}

.graficaMediHuella canvas {
  border: 1px solid black;
  padding-bottom: 1vh;
}
.big-button {
  background-color: #4caf50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 20px 40px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Para comportarse como un botón */
  font-size: 24px; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

.big-button:hover {
  background-color: #45a049; /* Cambia de color al pasar el ratón */
}

.big-button:active {
  background-color: #3e8e41; /* Color al hacer clic */
  transform: scale(0.98); /* Efecto de presión al hacer clic */
}

.frase {
  font-size: 20px;
  font-weight: 700px, bold;
  color: white;
}
