.home-container {
  height: 100vh;
  background-image: url('../assets/home-fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay-home {
  position: absolute; /* Posiciona el overlay sobre el contenedor */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa toda la altura */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  ); /* Degradado de oscuro a claro */
  z-index: 1;
}
.new {
  display: flex;
  justify-content: space-between;
}

.text-content {
  width: 50%;
  padding-left: 20px;
}

.text-content h1,
.text-content h2 {
  color: #333;
}

.text-content p {
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
}

.text-content ul {
  list-style-type: none;
  margin: 10px 0;
}

.text-content ul li {
  margin: 5px 0;
  color: #333;
}

.image-content {
  width: 50%;
  text-align: right;
}

.image-content img {
  max-width: 100%;
  height: auto;
}
.opartunidad-box {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/arboles.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.text-oportunidad {
  max-width: 75%;
  margin-bottom: 20px;
}

.text-oportunidad {
  font-size: 2.3em;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.btn-oportunidad {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 200px;
}

.logo-oprtunidad {
  border-radius: 50%;
  width: 60%;
  cursor: pointer;
  transition: transform 0.3s;
}
