.formtuhuella-container {
  background-image: url('../assets/marco.jpg');
  background-size: cover;
  background-repeat: repeat;
}
.big-button {
  background-color: #4caf50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 20px 40px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Para comportarse como un botón */
  font-size: 24px; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

.big-button:hover {
  background-color: #45a049; /* Cambia de color al pasar el ratón */
}

.big-button:active {
  background-color: #3e8e41; /* Color al hacer clic */
  transform: scale(0.98); /* Efecto de presión al hacer clic */
}
.card-container {
  width: 500px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.3s ease-in-out;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #829981;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #404940;
}

.fade-out {
  opacity: 0;
  transform: translateX(-150%);
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
}
