.container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.overlay {
  position: absolute; /* Posiciona el overlay sobre el contenedor */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa toda la altura */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  ); /* Degradado de oscuro a claro */
  z-index: 1;
}

.main-post {
  padding: 30px;
  border: 2px solid #4caf50;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1250px;
  background-color: #e8f5e9;
  font-size: 25px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.post {
  padding: 20px;
  border: 1px solid #81c784;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f1f8e9;
  width: 500px;
}

.post h5 {
  color: #388e3c;
  margin: 0;
  font-weight: normal;
}

.post h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #2e7d32;
}

.post p {
  font-size: 1em;
  color: #333;
}

.post-actions {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.post-actions button {
  background-color: #66bb6a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.post-actions button:hover {
  background-color: #14a651;
}

.delete-button {
  background-color: #ff4d4d;
}

.delete-button:hover {
  background-color: #ff1a1a;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.boxname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.fondo-foro {
  position: relative;
  height: 200vh;
  background-image: url('../assets/reciclaje.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.topForo {
  display: flex;
  justify-content: space-around;
  padding: 0px 280px 20px 280px;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
